<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drwtopapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrwTopapp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".hospital"></activity>
        <activity android:name=".RSAwalBross"></activity>
        <activity android:name=".RSEkaHospital"></activity>
        <activity android:name=".RSArifin"></activity>
        <activity android:name=".RSJiwaTampan"></activity>
        <activity android:name=".supermarkett"></activity>
        <activity android:name=".RayaSwalayan"></activity>
        <activity android:name=".PesonaSwalayan"></activity>
        <activity android:name=".duasatuduaMart"></activity>
        <activity android:name=".nineMart"></activity>
        <activity android:name=".polisi"></activity>
        <activity android:name=".polda"></activity>
        <activity android:name=".polresta"></activity>
        <activity android:name=".polsek"></activity>
        <activity android:name=".schooll"></activity>
        <activity android:name=".SMAMuhammadiyahsatu"></activity>
        <activity android:name=".Sman1Pekanbaru"></activity>
        <activity android:name=".SmanPlusPropRiau"></activity>
        <activity android:name=".SMKTaruna"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>